# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/

# Virtualenv
venv/
.env
.env.*

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Render
start.sh.bak
